.promo-credit {
  position: relative;
  padding: 80px 0;
  background: url('/economics-rudn/assets/icons/credit-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;

  &__container {
    padding: 0 39px;
    display: flex;
    gap: 31px;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      text-align: center;
      padding-bottom: 28px;
    }

    .promo-credit__title {
      position: relative; 
      display: inline-block; 
      width: fit-content;

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 212px; 
        height: auto;
      }
    }

    p {
      font-size: 36px;
      font-weight: 400;
      line-height: 43px;
      text-align: center;
    }
  }

  button {
    display: inline-block;
    padding: 16px 44px;
    background-color: $white;
    border-radius: 42px;
    border: none;
    font-style: inherit;
  }

  a {
    color: $black;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-decoration: underline
  }
}
