.header {
  background: rgba(0, 0, 0, 0.35);
  padding-top: 40px;
  padding-bottom: 28px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.heder__logo {
  width: 149px;
  height: 50px;
}