.profession {
  position: relative;
  padding: 80px 0;
  background: $abyssal;

&::after {
  content: "";
  position: absolute;
  background: url('../../assets/icons/flower.svg') no-repeat;
  height: 200px;
  width: 200px;
  bottom: 10px;
  right: 0;
  background-size: contain;
  z-index: 1;
}
  

  &__title {
    position: relative;
    padding: 21px 30px;
    margin-right: 30px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    border-radius: 20px;
    width: 43%;
    margin-bottom: 80px;
    border: 1px solid $white;
  }

  // &__title::after {
  //   content: '';
  //   background-image: url(../../assets/icons/economics-icon.png);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   position: absolute;
  //   top: 5px;
  //   right: -115px;
  //   width: 90px;
  //   height: 90px;
  // }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
  }

  &__item {
    width: calc(25% - 11px);

  }

&__item-img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  border-radius: 40px 40px 0 0; 
  display: block;
}



  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 24.5px 61px 24.5px;
    gap: 10px;
    width: 100%;
    height: 10em;
    background-color: $white;
    border-radius: 0 0 40px 40px;

    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      width: 100%;  
      }

    &-text {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      width: 100%;
      color: $abyssal;
    }
  }
  

}