.what {
  position: relative;
  background-image: url(../../assets/img/background-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    right: -14px;
    top: -219px;
    width: 736px;
    height: 900px;
    background: url(../../assets/icons/metal-icon.svg) no-repeat;
    background-size: contain;
    z-index: 1;
    
  }

  &__text {
    padding: 79px 0;
  font-size: 48px;
font-weight: 700;
line-height: 58px;
  }
}